fastapi
requests
asyncio
uvicorn[standard]
jinja2
pydantic
pydantic[email]
requests[socks]
pytest
json_db_lite
sqlalchemy
alembic
asyncpg
pydantic-settings
greenlet
httpx
python-jose
bcrypt==4.0.1
passlib[bcrypt]
jinja2
python-multipart